html {
  background-color: teal;
}

body {
  padding: 0;
  margin: 5px auto;
  width: 100%;
  font-size: 125%;
}
header {
  text-align: center;
  background-color: cadetblue;
  width: 50%;
  color: white;
  opacity: 90%;
  padding: 50px;
  margin: 200px auto;
}

/*********
nav
*********/
ul {
  height: 3rem;
  display: flex;
}

li {
  list-style: none;
  margin-right: 1em;
}

a {
  text-decoration: none;
  background-color: blue;
  color: white;
  padding: 5px;
  border: 1px solid black;
}

.current {
  text-decoration: 5px underline black;
  margin-top: 5px;
}

a:hover {
  color: yellowgreen;
}

button {
  padding: 0.3em 3em;
}
