html {
    background-color: teal;
 
}




body {
    padding: 0;
    margin: 5px auto;
    width: 100%;
    font-size: 125%;
    


}
header {
    text-align: center;
    background-color: cadetblue;
    width: 50%;
    color: white;
    opacity: 90%;
    padding: 50px;
    margin: 200px auto;
}

/*********
nav
*********/
ul {

    background-color: crimson;
    height: 3rem;
    display: flex;
    justify-content: right;
}

li {

    list-style: none;
    margin-right: 1em;
}

a {
    text-decoration: none;
    color: white;

}

.current {
    text-decoration: 5px  underline black;
    margin-top: 5px;

}

a:hover {
    color: yellowgreen;
}

button {
    padding: .3em 3em;
}

